version: '3.9'

services:
  backend: 
    image: shivahchaudhary46/college_chatbot_backend:latest
    container_name: backend
    build: 
      context: ./backend
      dockerfile: dockerfile
    env_file:
      - ./backend/.env
    ports: 
      - "8000:8000"
    working_dir: /app
    volumes:
      - backend_data:/app/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      - frontend

  frontend:
    image: shivahchaudhary46/college_chatbot_frontend:latest
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "5500:3000"
    env_file:
      - ./frontend/.env

volumes: 
  backend_data: